@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("/4.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: "Poppins", sans-serif;

  /* Style for Firefox */
  scrollbar-color: #0e9953 #09a54a;
  scrollbar-width: thin;
}

h1 {
  font-family: "Lobster", sans-serif;
}
/* Style for Webkit browsers */
::-webkit-scrollbar {
  width: 8px !important;
  cursor: pointer !important;
}

::-webkit-scrollbar-track {
  cursor: pointer !important;
  background: #555;
}

::-webkit-scrollbar-thumb {
  background: #121212;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #242424;
}

::-webkit-scrollbar-button {
  display: none !important;
}

/* ::selection {
  background: blue;
  color: whitesmoke;
} */

/* Add this to your CSS file or in a <style> tag */
.otp-input {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

p-inputotp-input p-inputotp {
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
  font-size: 1.25rem;
  border-radius: 0.375rem;
  border: 1px solid #d1d5db; /* Gray border */
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

p-inputotp-input p-inputotp:focus {
  border-color: #60a5fa; /* Blue border on focus */
  outline: none;
  box-shadow: 0 0 0 2px rgba(96, 165, 250, 0.2); /* Blue shadow on focus */
}
